body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

.margin-bottom {
    margin-bottom: 80px;
}

.banar-text-color {
    color: rgb(13, 10, 208);
}



.banner {
    background-image: url(images/donation12.png);
    background-repeat: no-repeat;
    text-align: center;
    height: 550px;
}

.first-txt {
    font-size: 40px;
    color: white;
    font-weight: 400;
    padding-top: 125px;
}

.second-txt {
    color: white;
    margin-left: 25%;
    margin-right: 25%;
}

p {
    color: black;
    margin-left: 2%;
    margin-right: 15%;
}

.link-button {
    text-decoration: none;
    color: white;
    font-weight: 400;
    padding: 10px 40px;
    border-radius: 5px;
    background-image: linear-gradient(#FF5959, tomato);
}

.flexible-container {
    display: flex;
}

.donate-area {
    text-align: center;
    margin-left: 28%;
    margin-right: 22%;
}

.donate {
    padding: 15px 25px;
    margin-left: 10px;
    background-color: rgb(240, 248, 247);
}

.color {
    font-weight: 400;

}

#defult {
    border: 1px solid tomato;
    border-radius: 4px;
    color: tomato;
    background-color: tomato;
    background-image: linear-gradient(white, rgb(245, 245, 245));
}

.hr {
    width: 80%;
    margin-left: 15px;
    margin-bottom: 35px;
    border: 1px solid rgb(236, 236, 236);
}

.flexible {
    display: flex;
    margin-bottom: 150px;
}

.donate {

    color: black;
    text-align: center;

}

.donate-item {
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;


}

.icons {
    margin-top: 20px;
    padding: 15px;
}

.bg1 {
    background-color: #EDF5F6;
}

.bg2 {
    background-color: #FFEEEE;
}

.bg3 {
    background-color: #FFF4D6;
}

.donate-plan-area {
    margin-left: 10%;
    margin-right: 10%;
}

#full-stack-developer {}


.half-width {
    width: 50%;
    margin-left: 10%;

}

.half-width img {
    width: 75%;
}

.subscribe {
    text-align: center;
}

.subscribe-txt {
    font-size: 50px;
    width: 400;
}

.subscribe-para {
    margin-left: 25%;
    margin-right: 25%;
    color: #ddabab;
}

.input-area {
    margin-left: 10%;
    margin-right: 10%;
    padding: 70px;
    background-color: #FFF4D6;
}

.input {
    background-color: #D9D9D9;
    height: 40px;
    width: 200px;
    border: none;
    border-radius: 5px;

}

.button {
    height: 40px;
    background-color: #FF5959;
    color: white;
    border: none;
    width: 100px;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(66, 206, 249);
    color: white;
}